<!DOCTYPE html>
%html
  %head
    %title Codebreaker Rack App
    %link{ rel: 'shortcut icon', href: 'img/favicon/favicon.ico', type: 'image/x-icon' }
    %link{ rel: 'stylesheet', href: '/stylesheets/bootstrap.min.css', type: 'text/css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/main.css', type: 'text/css' }
  %body{ style: 'background-color:#fff;' }
    .container
      .row
        .col.text-center
          .block-404-wrapper
            .block-404
              %img{ src: '../img/404.png', alt: 'Page not found. 404' }
              %a{ href:'/', class: 'btn btn-primary btn-block' } Main page for play now?